@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300;1,400&family=Nanum+Gothic&display=swap');


header{
    background-color: #FFFFFF;
    padding: 50px;
}
.name
{
    text-decoration: none;
    color: black;
}
h1
{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 60px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
*
{
    margin:0%;
}
nav{
    background-color: #FFFFFF;
    padding: 20px;
    /* font-family: 'IBM Plex Serif', serif; */
    font-family: 'Quicksand', sans-serif;
}
.nav
{
    flex-wrap: wrap;
    margin-left: 50px;
    display: block;
}
li{
    float: left;
    list-style: none;
}
.nav-detail
{
    color: black;
    margin-left:25px;
    font-size:20px;
    text-decoration: none;
    text-align: center;

}
.login
{
    display: flex;
    flex-direction: row-reverse;
    
}
/* .dropdown
{
    display: none;
}
.designer:hover .dropdown
{
display: block;
}
.type
{
    float:none;
    background-color:aliceblue; 
    padding: 30px;

}
.type a
{
    text-align: center;
} */
.background
{
    background-color: #F0F1F4;
    width:auto;
    height:auto;
    background-image: url(img/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position:right top;
}
.buttons
{
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.button
{
    border:0px;
    font-size: 20px;
    padding: 10px;
}
.login
{
    padding: 15px;
}

.button:hover{
    border-bottom:3px solid black;
}

.user-detail
{
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom:20px;
    
}
.label
{
    font-size: 25px;
    padding: 20px;
    padding-left: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}
.box{
    width: 500px;
    height: 60px;
    border: 0px;
    font-size: 25px;
}
.checkbox
{
    padding: 15px;
    padding-left: 0px;
}
.checkboxes
{
    font-size: 20px;
}
.checkboxes2
{
    font-size: 20px;
    padding: 15px;
    padding-left: 0px;
}
.buttlogin
{
    width: 500px;
    height: 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 4px 4px 6px black;
    border-radius: 7px;
}
.buttlogin:hover{
    text-decoration: underline;
}
.account
{
    display: flex;
    flex-direction: column;
    
}
.accountlist
{
    display: flex;
    flex-direction: column;
    
}
.accountdetail
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 500px;
    /* border:1px solid black; */
    height: auto;
}
.logincontaniers
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
}
.listcontanier,.boxcontanier,.footercontanier
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer
{
    background-color:black;
    width:auto;
    height: auto;
}
.elem2 h3
{
    color: white;
}
.customer
{
    padding: 20px;
    padding-left: 0%;
    color: white;
    font-size: 20px;
}
.elem2
{
    font-size: 20px;
    
}
.customertext
{
    padding: 5px;
    padding-left:0%;
}
.elem2
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-around;
    margin-top:60px;
}