@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&family=Quicksand:wght@300;400&display=swap');

header{
    background-color: #FFFFFF;
    padding: 50px;
}
.name
{
    text-decoration: none;
    color: black;
}
h1
{
    margin-right: 5%;
    margin-left: 5%;
    font-size: 60px;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
*
{
    margin:0%;
}
nav{
    background-color: #FFFFFF;
    padding: 20px;
    /* font-family: 'IBM Plex Serif', serif; */
    font-family: 'Quicksand', sans-serif;
}
.nav
{
    flex-wrap: wrap;
    margin-left: 50px;
    display: block;
}
li{
    float: left;
    list-style: none;
}
.nav-detail{
    color: black;
    margin-left:25px;
    font-size:20px;
    text-decoration: none;
    text-align: center;
}
.login
{
    display: flex;
    flex-direction: row-reverse;
    
}
/* .dropdown
{
    display: none;
}
.designer:hover .dropdown
{
display: block;
}
.type
{
    float:none;
    background-color:aliceblue; 
    padding: 30px;

}
.type a
{
    text-align: center;
} */
.next
{
    margin-left:90px;
    margin-right:90px;
}
.elem
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-around;
    align-content: center;
}
.elem img{
    width: 400px;
    height: 450px;
}
.elemtext
{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.elemtext h3{
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
}
.elemtext h3:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 8px;
    
}
.pelemtext{
    padding: 10px;
    font-size: 20px;
    color: #707173;
}
.pelemtext p
{
    font-size: 20px;
}
.productheding
{
    text-align: center;
    padding: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    margin: 20px;
}
.product {
    margin: 40px;
}







footer
{
    background-color:black;
    width:auto;
    height: auto;
}
.footercontanier,.listcontanier
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.elem2 h3
{
    color: white;
}
.customer
{
    padding: 20px;
    padding-left: 0%;
    color: white;
    font-size: 20px;
}
.elem2
{
    font-size: 20px;
    
}
.customertext
{
    padding: 5px;
    padding-left:0%;
}
.elem2
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-around;
    margin-top:60px;
}
.name2
{
    text-decoration: none;
    color: white;
}
.name2:hover{
    text-decoration: underline;
}